//Colors
$color-background: rgba(243, 250, 255, 0.63);
$color-background-card: #ffffff;
$color-title: #515151;
$color-shadow: #acacac;
$color-text: #434343;
$color-highlight: #004de1;
$color-highlight-dark: #001f5a;